<h2><%= @post.title %></h2>

<p><%= @post.body %></p>

<%= render Newapp.CommentView, "new.html",
  conn: @conn,
  post: @post,
  comment_changeset: @comment_changeset
%>

<%= for comment <- @post.comments do %>
  <p>
  <%= comment.body %>
  </p>
  <hr />
<% end %>

<span><%= link "Edit", to: post_path(@conn, :edit, @post), class: "btn btn-default btn-xs" %></span>
<span><%= link "Back", to: post_path(@conn, :index), class: "btn btn-default btn-xs" %></span>
